{{ define "web/auth/verifyUser.tmpl" }}
<html>
  <h1>
    Email {{ .email }} was successfully verified!
  </h1>
  <p>
    Eventpool is available on Android. 
    <a href="exp://192.168.1.3:19001/--/?authToken=23432432423">Hello</a>
  </p>
<html>
{{ end }}