
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

</head>

<body style="font-family: Helvetica,Arial,sans-serif; font-size: 18px; color: #33475b">
<table style="min-width: 380px; 
            max-width: 640px;
            display: table;
            margin-right: auto;
            margin-left: auto;">
    <tbody>
        <tr>
            <td>
                <div style="text-align: center;
                        border-style: solid;
                        border-color: #29A0B1; 
                        border-radius: 8px;
                        padding: 20px;
                        background: linear-gradient(#FFF,#DDFFE7,#DDFFE7);">
                    <h1>Dear {{.name}}</h1>
                    <p style="text-align: center">
                        Welcome to <b>Eventpool</b> - the place where you can easily organize all your events with friends.<br>
                        Click on the button below on your mobile phone to verify your email.<br>
                    </p>
                    <div>
                        <a style="color: #fff;
                            background-color: #d94235;
                            text-decoration: none;
                            font-size: 14px;
                            padding: 10px 24px;
                            border-radius: 8px;
                            min-width: 90px;
                            display: inline-block;
                            text-align: center;" 
                            href="{{.url}}">
                            Verify email
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>

</table>
</body>

</html>